= render partial: "comments/normal_comment_timeline_item", locals: { comment: comment }
= render partial: "comments/edit_comment_timeline_item", locals: { comment: comment, commentable_type: commentable_type, commentable_id: commentable_id }
