<div class="home-container">
  <div class="content">
    <ul>
      <li class="title">
          <%= t(".title") %>
      </li>
      <li>
          <%= link_to t("shared.links.login"), new_user_session_path, class: "login" %>
      </li>
      <li>
          <%= link_to t("shared.links.signup"), new_user_registration_path, class: "signup" %>
      </li>
    </ul>
  </div>
</div>
