@import "bulma";
@import "font-awesome";
@import "homes";
@import "header";

body,
html,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
}

.profile_icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.new_user {
  margin-top: 20px;
}

.book_column {
  overflow: hidden;
}

.report_description_field {
  
}
